    <div class="d-flex justify-content-start align-items-center mb-1">	
        <span data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrer">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <i class="bi bi-funnel"></i>
            </button>
        </span>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filtrer et trier la liste</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
            {{ form_widget(form) }}
            {% if 'auteurs' in app.request.pathinfo %}
            <a class="btn btn-danger" href="{{ path('app_backoffice_authors_list') }}">{{ button_label|default('Annuler') }}</a>
            {% else %}
            <a class="btn btn-danger" href="{{ path('app_backoffice_members_list') }}">{{ button_label|default('Annuler') }}</a>
            {% endif %}
            <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}
        </div>
    </div>