<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Back-office | Eco Friendly{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <script src="{{ asset('assets/js/popper.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/app.js') }}" defer /></script>
</head>

<body>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container w-75 d-flex flex-column mb-3 align-items-center">
            <img class="mb-3 col-12 col-md-6 col-lg-25" src="{{asset('/assets/img/logos/logo-eco-friendly-V3-maxcropcenterh.png')}}" alt="" />
            <h1 class="text-center font-monospace">Eco-Friendly</h1>
            <h5 class="mb-4 text-center text-muted ">Email de réinitialisation envoyé !</h5>

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, vérifiez votre dossier de courrier indésirable (spam) ou <a href="{{ path('app_backoffice_forgotpassword_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
        </div>
    </div>
</body>
</html>
