{% extends 'base.html.twig' %}

{% block name %}{{ quiz.content }} | Eco Friendly{% endblock %}

{% block body %}

    {% include "_fragments/_flash_message.html.twig" %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails du quiz</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h1 class="card-name">Question : {{ quiz.question }}</h1>
                                        <p class="card-text">
                                            <h5>Réponses :</h5>
                                            {% for answer in quiz.answers %}
                                            {% if answer.isCorrect %}
                                            <h5><i class="text-success bi bi-clipboard2-check-fill"></i> {{ answer.content }}</h5>
                                            {% else %}
                                            <h5><i class="text-danger bi bi-clipboard2-x-fill"></i> {{ answer.content }}</h5>
                                            {% endif %}
                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left Sidebar -->
            <div class="col-md-3">
                <div class="card bg-light mb-3">
                    <div class="card-body text-center">
                        <h6 class="card-subname mb-2 text-muted">Cr&eacute;&eacute; le {{ quiz.createdAt|date('d-m-Y H:i:s') }}</h6>
                        <p class="card-text">
                            Status : 
                            {% include "_fragments/_content_status_tag.html.twig" with {status:quiz.status} %}
                        </p>       
                        <div class="d-flex flex-nowrap justify-content-end align-items-center">
                            <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" name="&Eacute;diter" href="{{ path('bo_quizzes_edit', {id:quiz.article.id, quiz_id:quiz.id}) }}"><i class="bi bi-pencil"></i></a>
                            {% include "_fragments/_button_activate_quiz.html.twig" %}
                        </div>                    
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="float-right text-muted small">Mis à jour : {{ quiz.updatedAt ? quiz.updatedAt|date('d-m-Y H:i:s') : 'jamais' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}