{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.pathinfo is same as (path('app_backoffice_articles_user', {id:app.user.id}))%}
        Mes articles | Eco Friendly
    {% else %}
        Liste des articles | Eco Friendly
    {% endif %}
{% endblock %}

{% block body %}

{% include "_fragments/_flash_message.html.twig" %}
    
    <div class="d-flex justify-content-between align-items-center mb-4">
    {% if app.request.pathinfo is same as (path('app_backoffice_articles_user', {id:app.user.id}))%}
        <h1>Mes articles</h1>
    {% else %}
        <h1>Liste des articles</h1>
    {% endif %}
        <a class="btn btn-primary" href="{{ path('app_backoffice_articles_new') }}">&Eacute;crire un article</a>
    </div>

    {% if is_granted("ROLE_ADMIN") %}
    {% include "_fragments/_content_list_filter_and_sort.html.twig" %}
    {% endif %}

    <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Auteur</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Statut</th>
                    <th>Créé le</th>
                    <th>Edité le</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content|slice(0, 100)|striptags }} [...]</td>
                    <td>{{ article.author.firstname }} {{ article.author.lastname }}</td>
                    <td class="text-center"><img src="{{ article.picture }}" alt="{{ article.slug }}" style="max-width: 80px; max-height: 80px;" /></td>
                    <td class="text-center">{{ article.category.name }}</td>
                    <td class="text-center">
                        {% include "_fragments/_content_status_tag.html.twig" with {status:article.status} %}
                    </td>
                    <td>{{ article.createdAt|date('d-m-Y H:i:s') }}</td>
                    <td>{{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td class="d-flex flex-nowrap justify-content-center">
                        <a class="m-1 btn-sm btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('app_backoffice_articles_show', {'id': article.id}) }}"><i class="bi bi-eye"></i></a>
                        {% if not article.status is same as 2 or is_granted('ROLE_ADMIN') %}
                        <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_articles_edit', {'id': article.id}) }}"><i class="bi bi-pencil"></i></a>                       
                        {% endif %}
            {% include "_fragments/_button_activate_article.html.twig" %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
