<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Back-office | Eco Friendly{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <script src="{{ asset('assets/js/popper.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/app.js') }}" defer /></script>
</head>

<body>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container w-75 d-flex flex-column mb-3 align-items-center">
            <img class="mb-3 col-12 col-md-6 col-lg-25" src="{{asset('/assets/img/logos/logo-eco-friendly-V3-maxcropcenterh.png')}}" alt="" />
            <h1 class="text-center font-monospace">Eco-Friendly</h1>
            <h5 class="mb-4 text-center text-muted ">Accès au back-office</h5>
            {% if error %}
                <div class="col-12 col-lg-6 alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('app_backoffice_security_login') }}" method="post" />
            <div class="form-group p-2 d-flex flex-column justify-content-between">
                <label for="username">Email</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="form-group p-2 d-flex flex-column justify-content-between">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="_password"/>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <div class="buttons float-end p-2 mt-4 ">
                <div class="btn btn-sm btn-danger p-2 ml-5" href="https://www.eco-friendly.fr">Annuler</div>
                <button class="btn btn-sm btn-success p-2" type="submit">Se connecter</button>
                <p><small><a href="{{ path('app_backoffice_forgotpassword_request') }}">mot de passe oublié ?</a></small></p>
            </div>
            </form>
        </h1>
    </div>
</body>
</html>
