{% extends 'base.html.twig' %}

{% block title %}Liste des conseils | Eco Friendly{% endblock %}

{% block body %}

    {% include "_fragments/_flash_message.html.twig" %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste des conseils</h1>
    </div>

    {% include "_fragments/_content_list_filter_and_sort.html.twig" %}

    <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Contributeur</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Statut</th>
                    <th>Créé le</th>
                    <th>Edité le</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for advice in advices %}
            {% if not advice.status is same as 0 %} 
                <tr>
                    <td>{{ advice.id }}</td>
                    <td>{{ advice.title }}</td>
                    <td>{{ advice.content|slice(0, 100)|striptags }} [...]</td>
                    <td>{{ advice.contributor.nickname }}</td>
                    <td class="text-center">{{ advice.category.name }}</td>
                    <td class="text-center">
                        {% include "_fragments/_content_status_tag.html.twig" with {status:advice.status} %}
                    </td>
                    <td>{{ advice.createdAt|date('d-m-Y H:i:s') }}</td>
                    <td>{{ advice.updatedAt ? advice.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td class="d-flex flex-nowrap justify-content-center">
                        <a class="m-1 btn-sm btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('app_backoffice_advices_show', {'id': advice.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_advices_edit', {'id': advice.id}) }}"><i class="bi bi-pencil"></i></a>
                        
                         {% include "_fragments/_button_activate_advice.html.twig"%}
                    </td>
                </tr>
            {% endif %}
            {% else %}
                <tr>
                    <td colspan="8">Aucun conseil trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
