{% extends 'base.html.twig' %}

{% block name %}{{ avatar.name }} | Eco Friendly{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <div class="row">
            
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h1 class="card-name">{{ avatar.name }}</h1>
                                        <img src="{{ avatar.picture }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left Sidebar -->
            <div class="col-md-3">
                <div class="card bg-light mb-3">
                    <div class="card-body text-center">
                        <h6 class="card-subname mb-2 text-muted">Cr&eacute;&eacute; le {{ avatar.createdAt|date('d-m-Y H:i:s') }}</h6>
                        <p class="card-text">
                            Status : 
                            {% include "_fragments/_user_active_tag.html.twig" with {status:avatar.isActive} %}
                        </p>       
                        <div class="d-flex flex-nowrap justify-content-end align-items-center">
                            <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" name="&Eacute;diter" href="{{ path('app_backoffice_avatars_edit', {'id': avatar.id}) }}"><i class="bi bi-pencil"></i></a>
                            <form method="post" action="{{ path('app_backoffice_avatars_deactivate', {'id': avatar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir désactiver cet avatar ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ avatar.id) }}" />
                                <button class="m-1 btn-sm btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" name="D&eacute;sactiver"><i class="bi bi-x-circle"></i></button>
                            </form>
                        </div>                    
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="float-right text-muted small">Mis à jour : {{ avatar.updatedAt ? avatar.updatedAt|date('d-m-Y H:i:s') : 'jamais' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}