<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Back-office | Eco Friendly{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <script src="{{ asset('assets/js/popper.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer /></script>
    <script src="{{ asset('assets/js/app.js') }}" defer /></script>

</head>

<body>
    
    <header>
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg bg-cstm-gradient px-4 py-0" style="border-radius: 0% 0% 10% 10%; box-shadow: 0px 10px 5px 3px #efefea;">
                <a class="navbar-brand d-flex justify-content-center align-items-center" href="{{ path('app_backoffice_home') }}">
                    <img src="{{asset('assets/img/logos/logo-eco-friendly-V3-maxcropcenterv.png')}}" alt="Logo" width="58" height="64" class="d-inline-block align-text-center" />
                    <span class="font-monospace fw-semibold fs-4">Eco-Friendly</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                    {% if app.user.isVerified %}
                            
                        {% set pathinfo = app.request.pathinfo %}
                        <a class="d-flex justify-content-center align-items-center nav-link{% if app.request.pathinfo is same as (path('app_backoffice_home'))%} active{% endif %}" 
                        href="{{ path('app_backoffice_home') }}">Accueil</a>
                        {% if "ROLE_ADMIN" in app.user.roles %}
                        <a class="d-flex justify-content-center align-items-center nav-link{% if ('membres' in pathinfo) or (user is defined and 'ROLE_USER' in user.roles and 'ROLE_AUTHOR' not in user.roles) and ('home' not in pathinfo) %} active{% endif %}" 
                            href="{{ path('app_backoffice_members_list') }}">Membres</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{%  if 'conseils' in pathinfo %} active{% endif %}" 
                            href="{{ path('app_backoffice_advices_list') }}">Conseils</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{% if ('auteurs' in pathinfo) or (user is defined and 'ROLE_AUTHOR' in user.roles) %} active{% endif %}"
                            href="{{ path('app_backoffice_authors_list') }}">Auteurs</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{% if 'articles' in pathinfo %} active{% endif %}" 
                            href="{{ path('app_backoffice_articles_list') }}">Articles</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{% if 'categories' in pathinfo %} active{% endif %}" 
                            href="{{ path('app_backoffice_categories_list') }}">Cat&eacute;gories</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{% if app.request.pathinfo is same as (path('app_backoffice_avatars_list'))%} active{% endif %}" 
                            href="{{ path('app_backoffice_avatars_list') }}">Avatars</a>
                        {% else %}
                        <a class="d-flex justify-content-center align-items-center nav-link{% if app.request.pathinfo is same as (path('app_backoffice_articles_user', {id:app.user.id}))%} active{% endif %}" 
                            href="{{path("app_backoffice_articles_user",{id:app.user.id}) }}">Mes articles</a>
                        <a class="d-flex justify-content-center align-items-center nav-link{% if app.request.pathinfo is same as (path('app_backoffice_articles_new'))%} active{% endif %}" 
                            href="{{ path('app_backoffice_articles_new') }}">&Eacute;crire un article</a>
                        {% endif %}
                    
                    {% endif %}
                    
                        <div class="d-flex justify-content-center align-items-center nav-link" style="margin: 0 25px">
                            <img  class="d-flex align-self-center" src="{{ app.user.avatar }}" style="height: 32px; width: 32px; border-radius: 50%; margin-right: 10px;" />
                            <span class="d-flex justify-content-center align-items-center fw-semibold text-primary text-center">{{ app.user.firstname }} {{app.user.lastname}}</span>
                        </div>
                        <a class="btn btn-primary my-2" href="{{ path('app_backoffice_security_logout') }}">Déconnexion</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
                                    
    <main class="container-fluid mt-4 p-1 p-md-2 p-lg-3 p-xl-5">
            
        {% block body %}{% endblock %}
            
    </main>
       
</body>
</html>