{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} | Eco Friendly{% endblock %}

{% block body %}

    {% include "_fragments/_flash_message.html.twig" %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails de l'article</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ article.picture }}" class="img-fluid rounded-start" alt="{{ article.title }}" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h1 class="card-title">{{ article.title }}</h1>
                                        <p class="card-text">{{ article.content|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left Sidebar -->
            <div class="col-md-3">
                <div class="card bg-light mb-3">
                    <div class="card-header d-flex flex-column justify-content-center align-items-center">
                        <p>Auteur :</p>
                        <img class="d-flex align-self-left" src="{{ article.author.avatar }}" style="height: 48px; width: 48px; border-radius: 50%;" />
                        <div class="d-flex justify-content-center align-items-center mt-2">
                            <h6 class="card-title m-0">{{ article.author.nickname }}</h6>
                            <h7 class="card-subtitle m-0 text-muted">{{ article.author.code }}</h7>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-subtitle mb-2 text-muted">Ecrit le {{ article.createdAt|date('d-m-Y H:i:s') }}</h6>
                        <p class="card-text">
                            Status : 
                            {% include "_fragments/_content_status_tag.html.twig" with {status:article.status} %}
                        </p>
                        <p class="card-text">
                            Categorie : <span class="badge bg-info mb-2">{{ article.category.name }}</span>
                        </p>         
                        <div class="d-flex flex-nowrap justify-content-end align-items-center">
                            {% if not article.status is same as 2  or is_granted('ROLE_ADMIN') %}
                            <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_articles_edit', {'id': article.id}) }}"><i class="bi bi-pencil"></i></a>
                            {% endif %}
                            {% include "_fragments/_button_activate_article.html.twig" %}
                        </div>                    
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="float-right text-muted small">Mis à jour : {{ article.author.updatedAt ? article.author.updatedAt|date('d-m-Y H:i:s') : 'jamais' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}