{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.pathinfo is same as (path('app_backoffice_authors_list'))%}
        Liste des auteurs | Eco Friendly
    {% else %}
        Liste des membres | Eco Friendly
    {% endif %}
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
    	{% include "_fragments/_flash_message.html.twig" %}
        {% if app.request.pathinfo is same as (path('app_backoffice_authors_list'))%}
        <h1>Liste des auteurs</h1>
        {% else %}
        <h1>Liste des membres</h1>
        {% endif %}
        {% if app.request.pathinfo is same as (path('app_backoffice_authors_list'))%}
        <a href="{{ path('app_backoffice_users_new') }}" class="btn btn-primary">Créer un auteur
        {% endif %}
        </a>
    </div>

    <table class="table table-striped table-hover table-sm align-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th class="text-center">Avatar</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudonyme</th>
                <th class="text-center">Actif</th>
                <th class="text-center">Actif</th>
                <th>Créé le</th>
                <th>Edité le</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center"><img src="{{ user.avatar }}" alt="{{ user.firstname }} {{ user.lastname }}" style="border-radius: 50%; height: 75px; width: 75px;" /></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.nickname }}</td>
                <td class="text-center">
                    {% include "_fragments/_user_verified_tag.html.twig" with {status:user.isActive} %}
                </td>
                <td class="text-center">
                    {% include "_fragments/_user_active_tag.html.twig" with {status:user.isActive} %}
                </td>
                <td>{{ user.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td class="d-flex flex-nowrap texte-center">
                    <a class="m-1 btn-sm btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('app_backoffice_users_show', {'id': user.id}) }}"><i class="bi bi-eye"></i></a>
                    {% if app.request.pathinfo is same as (path('app_backoffice_authors_list'))%}
                    <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_users_edit', {'id': user.id}) }}"><i class="bi bi-pencil"></i></a>
                    <form method="post" action="{{ path('app_backoffice_users_deactivate', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir désactiver cet utilisateur?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ user.id) }}" />
                        <button class="m-1 btn-sm btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="D&eacute;sactiver"><i class="bi bi-x-circle"></i></button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
