{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }} | Eco Friendly{% endblock %}

{% block body %}

    {% include "_fragments/_flash_message.html.twig" %}
    
    {% if app.request.pathinfo is same as (path('app_backoffice_home')) and "ROLE_AUTHOR" in app.user.roles %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Espace Auteur</h1>
    </div>
    {% elseif user is defined and 'ROLE_AUTHOR' in user.roles %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails du profil "Auteur"</h1>
    </div>
    {% else %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Détails du profil "Membre"</h1>
    </div>
    {% endif %}
    
    <div class="container-fluid">
        <div class="row">

            <!-- Left Sidebar -->
            <div class="col-md-3">
            {% include "_fragments/_user_sidebar.html.twig" with {user:user} %}
            </div>
            <!-- Main Content -->
            <div class="col-md-9">
                {% if (user.articles is defined) and (user.articles is not empty) %}
                <div class="row">
                    {% for article in user.articles %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ article.picture }}" class="card-img-top" alt="{{ article.title }}" />
                            <div class="card-body">
                                <span class="badge bg-info mb-2">{{ article.category.name }}</span>
                                <h5 class="card-title">{{ article.title }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="card-subtitle mb-2 text-muted">Crée le {{ article.createdAt|date('d-m-Y H:i:s') }}</h6>
                                    <p class="float-end">{% include "_fragments/_content_status_tag.html.twig" with {status:article.status} %}</p>
                                </div>
                                <p class="card-text">{{ article.content|slice(0, 100)|striptags }} [...]</p>
                                <div class="d-flex flex-nowrap justify-content-end align-items-center">
                                    <a class="m-1 btn-sm btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('app_backoffice_articles_show', {'id': article.id}) }}"><i class="bi bi-eye"></i></a>
                                    <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_articles_edit', {'id': article.id}) }}"><i class="bi bi-pencil"></i></a>
                                    
                                    {% include "_fragments/_button_activate_article.html.twig" %}

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if (user.advices is defined) and (user.advices is not empty) %}
                <div class="row">
                    {% for advice in user.advices %}
                    {% if not advice.status is same as 0 %}    
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="badge bg-info mb-2">{{ advice.category.name }}</span>
                                <h5 class="card-title">{{ advice.title }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="card-subtitle mb-2 text-muted">Crée le {{ advice.createdAt|date('d-m-Y H:i:s') }}</h6>
                                    <p class="float-end">{% include "_fragments/_content_status_tag.html.twig" with {status:advice.status} %}</p>
                                </div>
                                <p class="card-text">{{ advice.content|slice(0, 100)|striptags }} [...]</p>
                                <div class="d-flex flex-nowrap justify-content-end align-items-center">
                                    <a class="m-1 btn-sm btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('app_backoffice_advices_show', {'id': advice.id}) }}"><i class="bi bi-eye"></i></a>
                                    <a class="m-1 btn-sm btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="&Eacute;diter" href="{{ path('app_backoffice_advices_edit', {'id': advice.id}) }}"><i class="bi bi-pencil"></i></a>
                                    {% include "_fragments/_button_activate_advice.html.twig" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}